<mat-spinner *ngIf="isLoading"></mat-spinner>


<mat-tab-group mat-align-tabs="center" *ngIf="!isLoading">
  <mat-tab *ngFor="let categorie of categories" [label]="categorie.label">
   <div class="container">
     <div class="row">
       <div class="col-lg-4" *ngFor="let pdt of getProductsByCategorie(categorie.key) ">

        <!-- <mdb-card class="z-depth-2" (click)="Details(pdt.key)">
          <mdb-card-img class="zoom overly" [src]="pdt.urlImage1" alt="Card image cap" >

          </mdb-card-img>         
          <mdb-card-body>
            <mdb-card-title> <h4>{{pdt.title}}</h4> </mdb-card-title>
            <mdb-card-text> {{pdt.price | currency:"INR"}} </mdb-card-text>
          </mdb-card-body>
        </mdb-card> -->

        
        <div class="card" >
          <div class="view overlay zoom rounded z-depth-2  mb-4 " data-mdb-ripple-color="light">
            <img [src]="pdt.urlImage1" class=" card-img-top " style="height: 300px;" />
            <a>
              <div class="mask rgba-white-slight waves-light" 
              (click)="Details(pdt.key)" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{pdt.title}}</h5>
            <p class="card-text"> {{pdt.price | currency:'INR'}} </p>    
          </div>
        </div>
       

       </div>
       </div>
     </div>
  
  </mat-tab>
  
    
  
</mat-tab-group>

  