<div class="container-fulid">
    <div class="card">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body form">
                    <!-- Header -->
              <h2 class="mt-4"><mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>Write to us:</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Your Name</mat-label>
                                <input matInput placeholder="Your Name">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControl="emailFormControl" placeholder="Ex. pat@example.com">
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Your Mobile</mat-label>
                                <input matInput placeholder="Your Mobile">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Your Location</mat-label>
                                <input matInput placeholder="Your Location">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Your Message</mat-label>
                                <textarea matInput placeholder="Your Message"></textarea>
                            </mat-form-field>
                            <!-- <button mdbBtn type="button" color="warning" [rounded]="true" mdbWavesEffect>Send</button> -->
                            <div class="modal-footer d-flex">
                                <button mdbBtn color="unique" class="waves-light" mdbWavesEffect>Send
                                  <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body contact text-center h-100 white-text light-blue darken-4">
                    <h1 class="my-4 pb-2">Contact Information</h1>
                    <ul class="text-lg-left list-unstyled ml-4">
                        <li>
                            <p><mdb-icon fas icon="map-marked" class="pr-2"></mdb-icon><br>
                            House No: 2-96/1 <br>
                            Village: Pachunoor <br>
                            Mandal: Manakondur <br>
                            District: Karimnagar <br>
                            Telangana State <br>
                            PinCode: 505505
                            </p>
                        </li>
                        <li>
                            <p><mdb-icon fas icon="phone" class="pr-2"></mdb-icon>
                            7702961696, 9177638532
                        </p>
                        </li>
                        <li>
                            <p><mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>
                                mamathagifts@gmail.com
                            </p>
                        </li>
                    </ul>
    
                </div>
            </div>
        </div>
    </div>
    </div>
