
<div class="container">
    <h3 class="h1 text-success text-center" >About</h3>
    <p class="about text-center">
        We are Printing Photos on Mugs, Stones Frames, Glass Frames, Pillows, ...etc
    </p>
    
    
    <div class="row mt-5">
        <div class="col-sm-6">
            <img src="/assets/Delivery/freed.jpg" class="figure-img img-fluid"
                  alt="..." style="width: 400px;height: 300px;">
            <!-- <figure class="figure">
                <img src="/assets/Delivery/freed.jpg" class="figure-img img-fluid z-depth-1"
                  alt="..." style="width: 400px;height: 200px;">
            </figure> -->
        </div>
        <div class="col-sm-6">
            <h3 class="h1 text-center text-danger">Free Shipping</h3>
            <p class="shipping text-center">We Provide Free Shipping to All Products</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6">
            <h3 class="h1 text-center text-danger">COD</h3>
            <p class="shipping text-center">We Provide Cash On Delivery to All Products</p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/Delivery/cashondelivery1.jpg" class="figure-img img-fluid"
                  alt="..." style="width: 400px;height: 300px;">
        </div>
    </div>

</div>
