

  <!--Main Navigation -->
<header class="intro-header">

  <section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="flex-center pt-5 mt-3 w-100">
            <div class=" text-center text-md-left mb-5">
              <div class="text-center">
                <h2 class=" display-1 font-bold wow fadeInDown" data-wow-delay="0.3s">Mamatha Gifts</h2>
                
                <h6 class="h6 wow fadeInLeft" data-wow-delay="0.4s">We are Printing Photos on Mugs, 
                 <br> Glass Frames, Stone Frames, Pillows ... etc</h6>
                <br>
                <a mdbBtn color="white"  gradient="aqua" [rounded]="true"  
                class=" wow fadeInRight waves-light" data-wow-delay="0.5s"
                  mdbWavesEffect routerLink="/products">View Products</a>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
  </section>

</header>
<!--Main Navigation-->

<app-ourproducts></app-ourproducts>
<app-our-services></app-our-services>