<h1 class="text-center">Products</h1>
<!--Our Products-->

<div class="container-fluid">
    
    <div class="row">
      <div class="col-lg-4">
        <div class="view overlay zoom wow fadeInLeft" data-wow-delay="0.3s">
         <figure class="figure">
            <img src="/assets/Photos/Rock-Photo1.jpg" class="figure-img img-fluid rounded z-depth-2"
                 alt="..." style="width: 400px">
         </figure>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="view overlay zoom wow fadeInDown" data-wow-delay="0.5s">
            <figure class="figure">
               <img src="/assets/Photos/GlassCup1.jpg" class="figure-img img-fluid rounded z-depth-2"
                    alt="..." style="width: 400px">
            </figure>
           </div>       
      </div>
      <div class="col-lg-4">
        <div class="view overlay zoom wow fadeInRight" data-wow-delay="0.7s">
            <figure class="figure">
               <img src="/assets/Photos/BlueCup1.jpg" class="figure-img img-fluid rounded z-depth-2"
                    alt="..." style="width: 400px">
            </figure>
           </div>          
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
          <div class="view overlay zoom wow fadeInLeft" data-wow-delay="0.3s">
           <figure class="figure">
              <img src="/assets/Photos/Glass-BL38-2.jpg" class="figure-img img-fluid rounded z-depth-2"
                   alt="..." style="width: 400px">
           </figure>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="view overlay zoom wow fadeInUp" data-wow-delay="0.5s">
              <figure class="figure">
                 <img src="/assets/Photos/Puzzle-Rect2.png" class="figure-img img-fluid rounded z-depth-2"
                      alt="..." style="width: 400px;height: 300px;">
              </figure>
             </div>       
        </div>
        <div class="col-lg-4">
          <div class="view overlay zoom wow fadeInRight" data-wow-delay="0.7s">
              <figure class="figure">
                 <img src="/assets/Photos/LedFrame1.jpg" class="figure-img img-fluid rounded z-depth-2"
                      alt="..." style="width: 400px; height: 300px;">
              </figure>
             </div>          
        </div>
      </div>
  </div>
 

<!--Our Products-->